{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/quora.css' %}">
		<title>Quora Search Improved</title>
	</head>
	<body>
		<div id="form">
		<div id="line">What is your question?</div>
            <form method="POST" class="post-form">{% csrf_token %}
				<div id ="temp"> '{{ form }} </div>
                <button type="submit" class="save btn btn-default">Search</button>
            </form>
		<p id = "line2">You can also give keywords only, not the exact question.<br> If you want to read quora answer of person 'abc' on topic 'xyz' just type the two words.</p>
		</div>
		<div id="footer">
		<div id="footkey"><a href="#">Aman Vats Production</a></div>
		</div>
	</body>
</html>